.list-title {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.mat-list-item:hover {
  border: 1px;
  background: lightgray;
}

a {
  color: black;
}

.active a {
  color: white !important;
}

.active {
  background-color: deepskyblue;
}
