<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 component-top-margin">
      <mat-card>
        <mat-tab-group [(selectedIndex)]="selectedTab">
          <mat-tab label="Login" tabindex="0">
            <app-login></app-login>
          </mat-tab>
          <mat-tab label="Sign Up" tabindex="1">
            <app-sign-up (signedUp)="onSignedUp($event)"></app-sign-up>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
