/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #f4f7f7;
  margin: 0px;
  padding: 0px;
}

.submit_button_style {
  width: 100%;
}

.border_test {
  border: 3px solid green;
}
